@import "defaults";

body {
  div#resultTable {
    margin-top: 25px;

    grid-column: 1 / -1;
    grid-row: 3;

    overflow-x: auto;
  }

  div#trackListBar {
    margin-top: 25px;

    grid-column: 1 / -1;
    grid-row: 2;
    word-wrap: break-word;

    a {
      display: inline-block;
      padding: 3px;
      border-radius: 5px;
      background-color: #5a8ee2;
      color: #fff;
      cursor: pointer;
      margin: 5px;
    }
  }
}